# ExamPerformance(%)prediction using various  features

In [15]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
#reading data set
df = pd.read_csv('student_performance.csv')

In [17]:
df.head()

   SocialMediaTime(hr)  StudyTime(hr)  SleepTime(hr)  ExamPerformance(%)
0                  2.3            4.5            7.5                86.6
1                  1.7            6.7            8.1                79.8
2                  3.1            5.2            7.3                90.9
3                  1.9            7.3            7.9                77.9
4                  2.7            5.9            6.8                88.3

In [21]:
df.info()
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SocialMediaTime(hr)  60 non-null     float64
 1   StudyTime(hr)        60 non-null     float64
 2   SleepTime(hr)        60 non-null     float64
 3   ExamPerformance(%)   60 non-null     float64
dtypes: float64(4)
memory usage: 2.0 KB
(60, 4)

In [22]:
df.describe()

       SocialMediaTime(hr)  StudyTime(hr)  SleepTime(hr)  ExamPerformance(%)
count            60.000000      60.000000      60.000000           60.000000
mean              2.483333       5.668333       7.506667           84.348333
std               0.756255       1.291365       0.643314            5.923195
min               1.200000       3.600000       6.200000           74.400000
25%               1.900000       4.575000       7.100000           79.700000
50%               2.300000       5.350000       7.500000           84.150000
75%               3.200000       6.725000       7.900000           89.500000
max               3.800000       8.200000       8.700000           94.400000

In [20]:
# lets perform EDA

In [12]:
# df['age'].unique()

array([25, 30, 47, 32, 43, 51, 28, 33, 37, 39, 29, 54, 44, 41, 58, 23],
      dtype=int64)

In [32]:
#splitting the data set
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

from sklearn.model_selection import train_test_split as tts

x_train,x_test,y_train,y_test = tts(X,Y,test_size = .2,random_state = 42) #random_state = 42, will give same result in every run

In [30]:
# x_train_copied = x_train

In [35]:
# print(x_train)
# print(x_train_copied)

Training the model

In [38]:
from sklearn.linear_model import LinearRegression as LR

In [39]:
regressor = LR()

In [40]:
regressor.fit(x_train,y_train)

LinearRegression()

Evaluating Result

In [56]:
y_pred = regressor.predict(x_test)

In [58]:
# print(y_test,y_pred)

out = pd.DataFrame({'Actual':y_test,'predicted':y_pred })

out

    Actual  predicted
59    94.4  93.612485
20    84.7  85.383090
40    86.1  84.867766
32    91.3  91.839889
3     77.9  78.808032
54    89.7  87.005719
48    75.7  73.884302
28    74.4  75.743008
51    80.9  78.941647
38    75.5  74.653952
31    79.1  78.697557
41    79.4  78.226956

# Model Evaluation:

In [59]:
import sklearn.metrics as sm

In [63]:
r2 = sm.r2_score(y_test,y_pred)
round(r2,2)

0.96

In [64]:
sq_err = sm.mean_squared_error(y_test,y_pred)
round(sq_err,2)

1.85

In [71]:
regressor.coef_
b1 = regressor.coef_[0]
b2 = regressor.coef_[1]
b3 = regressor.coef_[2]
print('b1 = ',b1)
print('b2 = ',b2)
print('b3 = ',b3)

b1 =  5.634971033761973
b2 =  -1.064691634431133
b3 =  -0.9968290212528838

In [74]:
c= regressor.intercept_
c

83.7487855671764

In [76]:
# eqn = b1*x1+b2*x2+b3*x3+c